.title-speaker {
  width: 10%;
  font-size: 22px;
  font-family: Arial;
  color: #4f2d7f;
  padding-left: 15px;
  border-left: 5px;
}

.navbar-speaker {
  font-family: Arial;
  color: #4f2d7f;
}

.logo-left{
  padding-right: 15px;
}

.logo-right{
  padding-left: 15px;
}

.vl {
  border-left: 2px solid red;
  height: 60px;
}

.login-form {
  width: 340px;
  margin: 50px auto;
  font-size: 15px;
  color: white;
  font-family: arial;
}
.login-form form {
  margin-bottom: 15px;
  background: #553483;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.form-control, .btn {
  min-height: 38px;
  border-radius: 0px;
}


.color{
  message: #ec008c;
}

.connectedSortable {
  columns: 2;
  column-width: 200px;
  list-style-type: none;
  height: auto;
  margin-top: 100px;
  background-color: #ededed;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.connectedSortable li{

  height: 40px;
  margin-bottom: 10px;
  font-size: 20px;
  color: white;
  text-align: center;
}
.right {
  background: #EC008C;
}
.left{
  background: #553483;
}
.message{
  color: #EC008C;
}
html,
body {
  height: 100%;
  margin=0;
}
.content {
  padding: 20px;
  min-height: 100%;
  margin: 0 auto -50px;
}

.connectedSortable {
    columns: 2;
    column-width: 200px;
    list-style-type: none;
    height: auto;
    margin-top: 100px;
    background-color: #ededed;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .connectedSortable li{
    
    height: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
    text-align: center;
  }
  .right {
    background: #EC008C;
  }
  .left{
    background: #553483;
  }
  .message{
    color: #EC008C;
  }
  .btn-primary,
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:visited,
  .btn-primary:focus {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: #ec008c;
    border-color: white;
  }